*.pyc
.DS_Store
.vscode/settings.json
.vscode

**/*~
node_modules
package_home_pages
tmp1 
tmp2
logs
readmes
popular.json
.nyc_output
db.json

ncq/history.json
history.json

*.log
download_npm/readmes.json
download_npm/readmes.zip
download_npm/log.txt
download_npm/jsonify.js
config.json
data/readmes.json



all.json
data/info.json
data/info.zip
data/projects_with_repository_fields-1.6.0-2020-01-12.csv
data/snippets.json
data/snippets.zip
data/ncqData.zip
data/packageStats.json
history-repl.json
