*.pyc
.DS_Store
.vscode/settings.json

**/*~
node_modules
package_home_pages
tmp1 
tmp2
logs
readmes
popular.json
.nyc_output

ncq/history.json
history.json
*.log
download_npm/readmes.json
download_npm/readmes.zip
download_npm/log.txt
download_npm/jsonify.js
config.json
data/readmes.json
